#sw-contact-form {
	max-width: 70%;
	margin: 0 auto;
	background: rgb(72, 72, 72);
	background-color: rgba(72,72,72,0.4);
	padding: 10px 10px;
	padding-top: 20px;
	border: 0px solid gray;
	border-radius: 10px;
}
#sw-form{
	width:100%;
	margin:0;
	display: block;
}  


/* Makes responsive fields.Sets size and field alignment.*/
#sw-form p{
	width: 100%;
	padding: 0;
	margin: 0;
}
#sw-form input[type=text], #sw-form input[type=email] {
	width: 90%;
	margin: 10px 5%;
	padding: 15px 15px;
	border-radius: 0;
	border: 0;
	font-size: 15px;
	height: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	font-family: 'Roboto Slab', serif;
}
#sw-form input#email[type=email] {
	max-width: 90%;
}
#sw-form input[type=button]
{
	background: #0761C3;
	width: 90%;
	margin: 0 5%;
	cursor:pointer;
	display: inline-block;
	color: #666;
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	font-family: 'Roboto Slab', serif;
}
#sw-contact-form #name::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f007  '; color: #555; font-size: 13px }
#sw-contact-form #name::-moz-placeholder::before  { font-family: fontAwesome; content:'\f007  '; color: #555 font-size: 13px } /* firefox 19+ */
#sw-contact-form #name:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f007  '; color: #555 font-size: 13px } /* ie */

#sw-contact-form #email::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0e0  '; color: #555; font-size: 11px }
#sw-contact-form #email::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: #555; font-size: 11px } /* firefox 19+ */
#sw-contact-form #email:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: #555; font-size: 11px } /* ie */

#sw-contact-form #website::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0ac  '; color: #555; font-size: 13px }
#sw-contact-form #website::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0ac  '; color: #555; font-size: 13px } /* firefox 19+ */
#sw-contact-form #website:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0ac  '; color: #555; font-size: 13px } /* ie */

#sw-contact-form #phone_no::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f098  '; color: #555; font-size: 13px }
#sw-contact-form #phone_no::-moz-placeholder::before  { font-family: fontAwesome; content:'\f098  '; color: #555; font-size: 13px } /* firefox 19+ */
#sw-contact-form #phone_no:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f098  '; color: #555; font-size: 13px } /* ie */

#sw-contact-form #message::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f14b  '; color: #555; font-size: 13px }
#sw-contact-form #message::-moz-placeholder::before  { font-family: fontAwesome; content:'\f14b  '; color: #555; font-size: 13px } /* firefox 19+ */
#sw-contact-form #message:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f14b  '; color: #555; font-size: 13px } /* ie */

#sw-form label {
	text-transform: capitalize;
	font-family: 'Roboto Slab', serif;
	display: none;
}
#sw-form input[type=button]:hover {
	background: #4274A9;
	width: 90%;
	margin: 0 5%;
}
#sw-form textarea{
	width: 90%;
	padding: 15px 15px 60px;
	margin: 0 5%;
	margin-top: 10px;
	border: 0px solid #7ac9b7;
	border-radius: 0;
	margin-bottom: 20px;
	resize: none;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
  } 
#sw-form input[type=text]:focus, #sw-form input[type=email]:focus, #sw-form textarea:focus {
	border-color: #4697e4;
	border-width: 3px;
	border: 3px solid #4697e4;
}
#sw-form input[type=text]:focus, #sw-form input[type=email]:focus {
	padding: 12px 12px;
}
#sw-form textarea:focus {
	padding: 12px 12px 57px;
}
#captcha-sec{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5%;
}

/* Responsive CSS 

@media screen and (max-width: 1200px) and (min-width: 601px){
div#sw-contact-form{
width: 80%;
margin: 10px 30% 10px 11%;
}
}  

@media screen and (max-width: 600px) and (min-width: 351px){
h2{
font-size:18px;
}
p{
font-size:14px;
}
label{
font-size:12px;
}
input[type=submit]{
padding:5px;
}
input[type=text]{
  padding: 8px; 
}
div#sw-contact-form{
width: 80%;
margin: 10px 30% 10px 11%;
}
}

@media screen and (max-width: 350px){
input[type=submit]
{
padding:4px;
font-size:12px;
}
input[type=text]{
  padding: 8px; 
}
label{
font-size:12px;
}
h2{
font-size:15px;
}
p{
font-size:12px;
}
div#sw-contact-form{
width: 80%;
margin: 10px 30% 10px 11%;
}
} */

